In [4]:
pip install pyspark

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyspark in /Users/parvez.mullah/.local/lib/python3.9/site-packages (3.4.1)
Requirement already satisfied: py4j==0.10.9.7 in /Users/parvez.mullah/.local/lib/python3.9/site-packages (from pyspark) (0.10.9.7)
Note: you may need to restart the kernel to use updated packages.

In [12]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /usr/local/anaconda3/lib/python3.9/site-packages (1.4.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/anaconda3/lib/python3.9/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/anaconda3/lib/python3.9/site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.18.5 in /usr/local/anaconda3/lib/python3.9/site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in /usr/local/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [13]:
import pyspark

In [14]:
import pandas as pd

In [15]:
pd.read_csv("test1.csv")

ParserError: Error tokenizing data. C error: Expected 4 fields in line 3, saw 5

In [16]:
from pyspark.sql import SparkSession

In [17]:
spark = SparkSession.builder.appName("Practice").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/07/25 09:56:40 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [18]:
spark

In [19]:
df_pyspark = spark.read.option('header', 'true').csv('test1.csv')

In [20]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [21]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Experience: string (nullable = true)
 |-- Salary: string (nullable = true)

23/07/25 09:56:53 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

#In session w ill cover the following
1. PySpark
2. Reading the dataset
3. checking the datatypes of the column(scheme)
4. selecting columns and indexing
5. check describe option similar to pandas
6. adding columns
7. dropping columns

In [22]:
from pyspark.sql import SparkSession

In [23]:
spark = SparkSession.builder.appName("DataFramePractice").getOrCreate()

23/07/25 09:56:54 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [24]:
spark

In [25]:
#Read dataset
df_pyspark = spark.read.option('header', 'true').csv("test1.csv", inferSchema=True)

In [26]:
#check the schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- Experience: double (nullable = true)
 |-- Salary: double (nullable = true)

In [27]:
df_pyspark = spark.read.csv('test1.csv', header=True, inferSchema=True)

In [28]:
df_pyspark

DataFrame[Name: string, Age: double, Experience: double, Salary: double]

In [29]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [30]:
df_pyspark.columns

['Name', 'Age', 'Experience', 'Salary']

In [31]:
df_pyspark.head(2)

[Row(Name='Parvez', Age=27.0, Experience=4.0, Salary=25000.0),
 Row(Name='Atif', Age=18.0, Experience=0.0, Salary=1000.0)]

In [32]:
df_pyspark.show()

+------+----+----------+-------+
|  Name| Age|Experience| Salary|
+------+----+----------+-------+
|Parvez|27.0|       4.0|25000.0|
|  Atif|18.0|       0.0| 1000.0|
|   Raj|27.0|       4.0| 3000.0|
|  Paul|27.0|      null| 3200.0|
|Mahesh|null|      40.0|34900.0|
|  null|32.0|       3.0|  400.0|
| Ammar|34.0|       8.0|   null|
|  null|45.0|      32.0|   null|
+------+----+----------+-------+

In [33]:
df_pyspark.select(['Name', 'Experience']).show()

+------+----------+
|  Name|Experience|
+------+----------+
|Parvez|       4.0|
|  Atif|       0.0|
|   Raj|       4.0|
|  Paul|      null|
|Mahesh|      40.0|
|  null|       3.0|
| Ammar|       8.0|
|  null|      32.0|
+------+----------+

In [34]:
df_pyspark.dtypes

[('Name', 'string'),
 ('Age', 'double'),
 ('Experience', 'double'),
 ('Salary', 'double')]

In [35]:
df_pyspark.describe().show()

23/07/25 09:57:04 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.

+-------+-----+----------------+------------------+------------------+
|summary| Name|             Age|        Experience|            Salary|
+-------+-----+----------------+------------------+------------------+
|  count|    6|               7|                 7|                 6|
|   mean| null|            30.0|              13.0|           11250.0|
| stddev| null|8.32666399786453|16.051998837112677|14859.576037020706|
|    min|Ammar|            18.0|               0.0|             400.0|
|    max|  Raj|            45.0|              40.0|           34900.0|
+-------+-----+----------------+------------------+------------------+

In [36]:
#add columns in df
df_pyspark = df_pyspark.withColumn('Experience After 2 Years', df_pyspark['Experience']+2)

In [37]:
df_pyspark.show()

+------+----+----------+-------+------------------------+
|  Name| Age|Experience| Salary|Experience After 2 Years|
+------+----+----------+-------+------------------------+
|Parvez|27.0|       4.0|25000.0|                     6.0|
|  Atif|18.0|       0.0| 1000.0|                     2.0|
|   Raj|27.0|       4.0| 3000.0|                     6.0|
|  Paul|27.0|      null| 3200.0|                    null|
|Mahesh|null|      40.0|34900.0|                    42.0|
|  null|32.0|       3.0|  400.0|                     5.0|
| Ammar|34.0|       8.0|   null|                    10.0|
|  null|45.0|      32.0|   null|                    34.0|
+------+----+----------+-------+------------------------+

In [38]:
df_pyspark = df_pyspark.drop('Experience After 2 Years')

In [39]:
df_pyspark.show()

+------+----+----------+-------+
|  Name| Age|Experience| Salary|
+------+----+----------+-------+
|Parvez|27.0|       4.0|25000.0|
|  Atif|18.0|       0.0| 1000.0|
|   Raj|27.0|       4.0| 3000.0|
|  Paul|27.0|      null| 3200.0|
|Mahesh|null|      40.0|34900.0|
|  null|32.0|       3.0|  400.0|
| Ammar|34.0|       8.0|   null|
|  null|45.0|      32.0|   null|
+------+----+----------+-------+

Pyspark handling missing values
1. Dropping columns
2. Dropping rows
3. variour parameter in dropping functionalities
4. handling missing values by mean, median and mode.

In [40]:
from pyspark.sql import SparkSession

In [41]:
spark = SparkSession.builder.appName("Practise").getOrCreate()

23/07/25 09:57:09 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [42]:
df_pyspark=spark.read.csv("test1.csv", header=True, inferSchema=True)

In [43]:
df_pyspark.show()

+------+----+----------+-------+
|  Name| Age|Experience| Salary|
+------+----+----------+-------+
|Parvez|27.0|       4.0|25000.0|
|  Atif|18.0|       0.0| 1000.0|
|   Raj|27.0|       4.0| 3000.0|
|  Paul|27.0|      null| 3200.0|
|Mahesh|null|      40.0|34900.0|
|  null|32.0|       3.0|  400.0|
| Ammar|34.0|       8.0|   null|
|  null|45.0|      32.0|   null|
+------+----+----------+-------+

In [44]:
df_pyspark.na.drop().show()

+------+----+----------+-------+
|  Name| Age|Experience| Salary|
+------+----+----------+-------+
|Parvez|27.0|       4.0|25000.0|
|  Atif|18.0|       0.0| 1000.0|
|   Raj|27.0|       4.0| 3000.0|
+------+----+----------+-------+

In [45]:
df_pyspark.na.drop(how='all').show()

+------+----+----------+-------+
|  Name| Age|Experience| Salary|
+------+----+----------+-------+
|Parvez|27.0|       4.0|25000.0|
|  Atif|18.0|       0.0| 1000.0|
|   Raj|27.0|       4.0| 3000.0|
|  Paul|27.0|      null| 3200.0|
|Mahesh|null|      40.0|34900.0|
|  null|32.0|       3.0|  400.0|
| Ammar|34.0|       8.0|   null|
|  null|45.0|      32.0|   null|
+------+----+----------+-------+

In [46]:
#threshold
df_pyspark.na.drop(how='any', thresh=2).show()

+------+----+----------+-------+
|  Name| Age|Experience| Salary|
+------+----+----------+-------+
|Parvez|27.0|       4.0|25000.0|
|  Atif|18.0|       0.0| 1000.0|
|   Raj|27.0|       4.0| 3000.0|
|  Paul|27.0|      null| 3200.0|
|Mahesh|null|      40.0|34900.0|
|  null|32.0|       3.0|  400.0|
| Ammar|34.0|       8.0|   null|
|  null|45.0|      32.0|   null|
+------+----+----------+-------+

In [47]:
df_pyspark.na.drop(how='any', subset=['Name', 'Experience']).show()

+------+----+----------+-------+
|  Name| Age|Experience| Salary|
+------+----+----------+-------+
|Parvez|27.0|       4.0|25000.0|
|  Atif|18.0|       0.0| 1000.0|
|   Raj|27.0|       4.0| 3000.0|
|Mahesh|null|      40.0|34900.0|
| Ammar|34.0|       8.0|   null|
+------+----+----------+-------+

Pyspark Dataframes
1. Filter operation
2. &,|,==
3. ~

In [48]:
from pyspark.sql import SparkSession

In [49]:
spark = SparkSession.builder.appName("dataframe").getOrCreate()

23/07/25 09:57:20 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [50]:
df_pyspark = spark.read.csv("test2.csv", header=True, inferSchema=True)

In [51]:
df_pyspark.show()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
|Parvez|  27|         4| 25000|
|  Atif|  18|         0|  1000|
|   Raj|  27|         4|  3000|
|  Paul|  27|         6|  3200|
|Mahesh|null|        40| 34900|
+------+----+----------+------+

In [52]:
#salary of the people less than equan to 25000
df_pyspark.filter("salary<=25000").show()

+------+---+----------+------+
|  Name|Age|Experience|Salary|
+------+---+----------+------+
|Parvez| 27|         4| 25000|
|  Atif| 18|         0|  1000|
|   Raj| 27|         4|  3000|
|  Paul| 27|         6|  3200|
+------+---+----------+------+

In [53]:
df_pyspark.filter("salary<=25000").select(["Name", "Age"]).show()

+------+---+
|  Name|Age|
+------+---+
|Parvez| 27|
|  Atif| 18|
|   Raj| 27|
|  Paul| 27|
+------+---+

In [54]:
df_pyspark.filter(df_pyspark["salary"]<=25000).select(["Name", "Age", "Salary"]).show()

+------+---+------+
|  Name|Age|Salary|
+------+---+------+
|Parvez| 27| 25000|
|  Atif| 18|  1000|
|   Raj| 27|  3000|
|  Paul| 27|  3200|
+------+---+------+

In [55]:
df_pyspark.filter((df_pyspark["salary"]<=25000) & (df_pyspark["Age"] > 20)).select(["Name", "Age", "Salary"]).show()

+------+---+------+
|  Name|Age|Salary|
+------+---+------+
|Parvez| 27| 25000|
|   Raj| 27|  3000|
|  Paul| 27|  3200|
+------+---+------+

In [56]:
df_pyspark.filter((df_pyspark["salary"]<=25000) | (df_pyspark["Age"] <20)).select(["Name", "Age", "Salary"]).show()

+------+---+------+
|  Name|Age|Salary|
+------+---+------+
|Parvez| 27| 25000|
|  Atif| 18|  1000|
|   Raj| 27|  3000|
|  Paul| 27|  3200|
+------+---+------+