In [2]:
pip install pyspark

Requirement already satisfied: pyspark in /Users/parvez.mullah/anaconda3/lib/python3.11/site-packages (3.4.1)
Requirement already satisfied: py4j==0.10.9.7 in /Users/parvez.mullah/anaconda3/lib/python3.11/site-packages (from pyspark) (0.10.9.7)
Note: you may need to restart the kernel to use updated packages.

/usr/local/Cellar/apache-spark/3.4.1/libexec/sbin/start-all.s

http://localhost:8080/

This will work after you open SparkSession
http://localhost:4040/jobs/

In [13]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[1]") \
.appName("SparkByExamples.com") \
.config('job.local.dir', 'file:/Users/parvez.mullah/Documents/LearningTechnologies/Big Data Tech/Spark/data') \
.getOrCreate()

## create dataframe

In [14]:
from pyspark.sql.types import IntegerType, StringType, StructType, StructField

schema = StructType([StructField(name="id", dataType=IntegerType()), 
                     StructField(name="name", dataType=StringType())])

data = [(1, 'Maheer'), (2, 'Wafa')]
# df = spark.createDataFrame(data=data, schema=['id', 'name']) # take data type automatically

df = spark.createDataFrame(data=data, schema=schema)  #own schema datatype

In [15]:
df.show()

+---+------+
| id|  name|
+---+------+
|  1|Maheer|
|  2|  Wafa|
+---+------+

In [6]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- name: string (nullable = true)

In [7]:
data = [{'id': 1, 'name': 'Maheer'}, {'id': 2, 'name': 'Wafa'}]
df = spark.createDataFrame(data=data)
df.show()
df.printSchema()

+---+------+
| id|  name|
+---+------+
|  1|Maheer|
|  2|  Wafa|
+---+------+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)

## Read CSV file into Dataframe

In [8]:
df_pyspark = spark.read.csv('data/test1.csv', header=True)
    
df_pyspark.show()

df_pyspark.printSchema()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
|Parvez|  27|         4| 25000|
|  Atif|  18|         0|  1000|
|   Raj|  27|         4|  3000|
|  Paul|  27|      null|  3200|
|Mahesh|null|        40| 34900|
|  null|  32|         3|   400|
| Ammar|  34|         8|  null|
|  null|  45|        32|  null|
+------+----+----------+------+

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Experience: string (nullable = true)
 |-- Salary: string (nullable = true)

Read multiple csv file

In [9]:
df_pyspark = spark.read.csv(['data/test1.csv', 'data/test2.csv'], header=True)
    
df_pyspark.show()

df_pyspark.printSchema()

+------+----+----------+------+
|  Name| Age|Experience|Salary|
+------+----+----------+------+
|Parvez|  27|         4| 25000|
|  Atif|  18|         0|  1000|
|   Raj|  27|         4|  3000|
|  Paul|  27|      null|  3200|
|Mahesh|null|        40| 34900|
|  null|  32|         3|   400|
| Ammar|  34|         8|  null|
|  null|  45|        32|  null|
|Parvez|  27|         4| 25000|
|  Atif|  18|         0|  1000|
|   Raj|  27|         4|  3000|
|  Paul|  27|         6|  3200|
|Mahesh|null|        40| 34900|
+------+----+----------+------+

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)
 |-- Experience: string (nullable = true)
 |-- Salary: string (nullable = true)

Read all csv file

In [10]:
df_pyspark = spark.read.csv('data/', header=True)
    
df_pyspark.show()

df_pyspark.printSchema()

+--------------------------------------------------------------------------------------------------------+
|PAR1ȺȺL�   *�l�  N%  ^0��7  N%  .�"�  N%  ���  N%  N��  N%  ļ�&  N%  ��c   N%  �|
+--------------------------------------------------------------------------------------------------------+
|                                                                                    7  N%  ��W�\f ...|
|                                                                                      N%  .[�?7  N%...|
|                                                                                      N%  �J�F  N%...|
|                                                                                      N%  @ |�  N%...|
|                                                                                    �7  N%  �z�F  N...|
|                                                                                    �5H  N%  ��\v.?...|
|                                                                                      N%  xZ�\a  N...|
|                                                                                    &  N%  �I��  N...|
|                                                                                      N%  �G�l;  N%...|
|                                                                                    ���@  N%  r�l$0 ...|
|                                                                                      N%  �?��  N%...|
|                                                                                    }N  N%  ��Y  N...|
|                                                                                    �LE  N%  Rږ�  ...|
|                                                                                      N%  n�u1  N...|
|                                                                                                 N%  �G|
|                                                                                      N%  �j�r!  N%...|
|                                                                                    H  N%  �>i�  N...|
|                                                                                    Jsl  N%  �i�9 ...|
|                                                                                      N%  ���4  N%...|
|                                                                                      N%  Ts�ND  N%  �|
+--------------------------------------------------------------------------------------------------------+
only showing top 20 rows

root
 |-- PAR1ȺȺL�   *�l�  N%  ^0��7  N%  .�"�  N%  ���  N%  N��  N%  ļ�&  N%  ��c   N%  �: string (nullable = true)

In [11]:
from pyspark.sql.types import IntegerType, StringType, StructType, StructField

schema = StructType()
schema.add(field='Name', data_type=StringType())
schema.add(field='Age', data_type=IntegerType())
schema.add(field='Experience', data_type=IntegerType())
schema.add(field='Salary', data_type=IntegerType())

df_pyspark = spark.read.csv('data/',schema=schema, header=True)
    
df_pyspark.show()

df_pyspark.printSchema()

+--------------------+----+----------+------+
|                Name| Age|Experience|Salary|
+--------------------+----+----------+------+
|7  N%  ��W�\f ...|null|      null|  null|
|  N%  .[�?7  N%...|null|      null|  null|
|  N%  �J�F  N%...|null|      null|  null|
|  N%  @ |�  N%...|null|      null|  null|
|�7  N%  �z�F  N...|null|      null|  null|
|�5H  N%  ��\v.?...|null|      null|  null|
|  N%  xZ�\a  N...|null|      null|  null|
|&  N%  �I��  N...|null|      null|  null|
|  N%  �G�l;  N%...|null|      null|  null|
|���@  N%  r�l$0 ...|null|      null|  null|
|  N%  �?��  N%...|null|      null|  null|
|}N  N%  ��Y  N...|null|      null|  null|
|�LE  N%  Rږ�  ...|null|      null|  null|
|  N%  n�u1  N...|null|      null|  null|
|             N%  �G|null|      null|  null|
|  N%  �j�r!  N%...|null|      null|  null|
|H  N%  �>i�  N...|null|      null|  null|
|Jsl  N%  �i�9 ...|null|      null|  null|
|  N%  ���4  N%...|null|      null|  null|
|  N%  Ts�ND  N%  �|null|      null|  null|
+--------------------+----+----------+------+
only showing top 20 rows

root
 |-- Name: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

23/07/27 11:53:44 WARN CSVHeaderChecker: Number of column in CSV header is not equal to number of fields in the schema:
 Header length: 1, schema size: 4
CSV file: file:///Users/parvez.mullah/Documents/LearningTechnologies/Big%20Data%20Tech/Spark/data/userdata1.parquet

## Write DataFrame into CSV file using PySpark

In [12]:
from pyspark.sql import DataFrameWriter, dataframe

data = [(1, 'Maheer'), (2, 'Wafa')]
schema = ['id', 'name']

df = spark.createDataFrame(data=data, schema=schema)

df.show()
df.printSchema()

display(df)

df.write.csv(path='/data', header=True, mode='append')

+---+------+
| id|  name|
+---+------+
|  1|Maheer|
|  2|  Wafa|
+---+------+

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)

DataFrame[id: bigint, name: string]

23/07/27 11:53:44 ERROR FileOutputCommitter: Mkdirs failed to create file:/data/_temporary/0
23/07/27 11:53:44 ERROR Executor: Exception in task 0.0 in stage 10.0 (TID 10)
java.io.IOException: Mkdirs failed to create file:/data/_temporary/0/_temporary/attempt_202307271153442475555114343851041_0010_m_000000_10 (exists=false, cwd=file:/Users/parvez.mullah/Documents/LearningTechnologies/Big Data Tech/Spark)
	at org.apache.hadoop.fs.ChecksumFileSystem.create(ChecksumFileSystem.java:515)
	at org.apache.hadoop.fs.ChecksumFileSystem.create(ChecksumFileSystem.java:500)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:1195)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:1175)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:1064)
	at org.apache.spark.sql.execution.datasources.CodecStreams$.createOutputStream(CodecStreams.scala:81)
	at org.apache.spark.sql.execution.datasources.CodecStreams$.createOutputStreamWriter(CodecStreams.scala:92)
	at org.apache.spark.sql.execution.datasources.csv.CsvOutputWriter.<init>(CsvOutputWriter.scala:38)
	at org.apache.spark.sql.execution.datasources.csv.CSVFileFormat$$anon$1.newInstance(CSVFileFormat.scala:84)
	at org.apache.spark.sql.execution.datasources.SingleDirectoryDataWriter.newOutputWriter(FileFormatDataWriter.scala:161)
	at org.apache.spark.sql.execution.datasources.SingleDirectoryDataWriter.<init>(FileFormatDataWriter.scala:146)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.executeTask(FileFormatWriter.scala:389)
	at org.apache.spark.sql.execution.datasources.WriteFilesExec.$anonfun$doExecuteWrite$1(WriteFiles.scala:100)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:888)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:888)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:92)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:161)
	at org.apache.spark.scheduler.Task.run(Task.scala:139)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:554)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1529)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:557)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1144)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:642)
	at java.base/java.lang.Thread.run(Thread.java:1623)
23/07/27 11:53:44 WARN TaskSetManager: Lost task 0.0 in stage 10.0 (TID 10) (10.111.140.207 executor driver): java.io.IOException: Mkdirs failed to create file:/data/_temporary/0/_temporary/attempt_202307271153442475555114343851041_0010_m_000000_10 (exists=false, cwd=file:/Users/parvez.mullah/Documents/LearningTechnologies/Big Data Tech/Spark)
	at org.apache.hadoop.fs.ChecksumFileSystem.create(ChecksumFileSystem.java:515)
	at org.apache.hadoop.fs.ChecksumFileSystem.create(ChecksumFileSystem.java:500)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:1195)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:1175)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:1064)
	at org.apache.spark.sql.execution.datasources.CodecStreams$.createOutputStream(CodecStreams.scala:81)
	at org.apache.spark.sql.execution.datasources.CodecStreams$.createOutputStreamWriter(CodecStreams.scala:92)
	at org.apache.spark.sql.execution.datasources.csv.CsvOutputWriter.<init>(CsvOutputWriter.scala:38)
	at org.apache.spark.sql.execution.datasources.csv.CSVFileFormat$$anon$1.newInstance(CSVFileFormat.scala:84)
	at org.apache.spark.sql.execution.datasources.SingleDirectoryDataWriter.newOutputWriter(FileFormatDataWriter.scala:161)
	at org.apache.spark.sql.execution.datasources.SingleDirectoryDataWriter.<init>(FileFormatDataWriter.scala:146)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.executeTask(FileFormatWriter.scala:389)
	at org.apache.spark.sql.execution.datasources.WriteFilesExec.$anonfun$doExecuteWrite$1(WriteFiles.scala:100)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:888)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:888)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:92)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:161)
	at org.apache.spark.scheduler.Task.run(Task.scala:139)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:554)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1529)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:557)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1144)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:642)
	at java.base/java.lang.Thread.run(Thread.java:1623)

23/07/27 11:53:44 ERROR TaskSetManager: Task 0 in stage 10.0 failed 1 times; aborting job
23/07/27 11:53:44 ERROR FileFormatWriter: Aborting job 9a2e5827-d308-4a28-8208-b6dd6d05b9e5.
org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 10.0 failed 1 times, most recent failure: Lost task 0.0 in stage 10.0 (TID 10) (10.111.140.207 executor driver): java.io.IOException: Mkdirs failed to create file:/data/_temporary/0/_temporary/attempt_202307271153442475555114343851041_0010_m_000000_10 (exists=false, cwd=file:/Users/parvez.mullah/Documents/LearningTechnologies/Big Data Tech/Spark)
	at org.apache.hadoop.fs.ChecksumFileSystem.create(ChecksumFileSystem.java:515)
	at org.apache.hadoop.fs.ChecksumFileSystem.create(ChecksumFileSystem.java:500)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:1195)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:1175)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:1064)
	at org.apache.spark.sql.execution.datasources.CodecStreams$.createOutputStream(CodecStreams.scala:81)
	at org.apache.spark.sql.execution.datasources.CodecStreams$.createOutputStreamWriter(CodecStreams.scala:92)
	at org.apache.spark.sql.execution.datasources.csv.CsvOutputWriter.<init>(CsvOutputWriter.scala:38)
	at org.apache.spark.sql.execution.datasources.csv.CSVFileFormat$$anon$1.newInstance(CSVFileFormat.scala:84)
	at org.apache.spark.sql.execution.datasources.SingleDirectoryDataWriter.newOutputWriter(FileFormatDataWriter.scala:161)
	at org.apache.spark.sql.execution.datasources.SingleDirectoryDataWriter.<init>(FileFormatDataWriter.scala:146)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.executeTask(FileFormatWriter.scala:389)
	at org.apache.spark.sql.execution.datasources.WriteFilesExec.$anonfun$doExecuteWrite$1(WriteFiles.scala:100)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:888)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:888)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:92)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:161)
	at org.apache.spark.scheduler.Task.run(Task.scala:139)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:554)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1529)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:557)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1144)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:642)
	at java.base/java.lang.Thread.run(Thread.java:1623)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2785)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2721)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2720)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2720)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1206)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1206)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1206)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2984)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2923)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2912)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:971)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2263)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.$anonfun$executeWrite$4(FileFormatWriter.scala:307)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.writeAndCommit(FileFormatWriter.scala:271)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.executeWrite(FileFormatWriter.scala:304)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.write(FileFormatWriter.scala:190)
	at org.apache.spark.sql.execution.datasources.InsertIntoHadoopFsRelationCommand.run(InsertIntoHadoopFsRelationCommand.scala:190)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.sideEffectResult$lzycompute(commands.scala:113)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.sideEffectResult(commands.scala:111)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.executeCollect(commands.scala:125)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.$anonfun$applyOrElse$1(QueryExecution.scala:98)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:118)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:195)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:103)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:827)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:65)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:98)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:94)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$transformDownWithPruning$1(TreeNode.scala:512)
	at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(TreeNode.scala:104)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDownWithPruning(TreeNode.scala:512)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.org$apache$spark$sql$catalyst$plans$logical$AnalysisHelper$$super$transformDownWithPruning(LogicalPlan.scala:31)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning(AnalysisHelper.scala:267)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning$(AnalysisHelper.scala:263)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:31)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:31)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDown(TreeNode.scala:488)
	at org.apache.spark.sql.execution.QueryExecution.eagerlyExecuteCommands(QueryExecution.scala:94)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted$lzycompute(QueryExecution.scala:81)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted(QueryExecution.scala:79)
	at org.apache.spark.sql.execution.QueryExecution.assertCommandExecuted(QueryExecution.scala:133)
	at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:856)
	at org.apache.spark.sql.DataFrameWriter.saveToV1Source(DataFrameWriter.scala:387)
	at org.apache.spark.sql.DataFrameWriter.saveInternal(DataFrameWriter.scala:360)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:239)
	at org.apache.spark.sql.DataFrameWriter.csv(DataFrameWriter.scala:847)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:75)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:52)
	at java.base/java.lang.reflect.Method.invoke(Method.java:578)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:1623)
Caused by: java.io.IOException: Mkdirs failed to create file:/data/_temporary/0/_temporary/attempt_202307271153442475555114343851041_0010_m_000000_10 (exists=false, cwd=file:/Users/parvez.mullah/Documents/LearningTechnologies/Big Data Tech/Spark)
	at org.apache.hadoop.fs.ChecksumFileSystem.create(ChecksumFileSystem.java:515)
	at org.apache.hadoop.fs.ChecksumFileSystem.create(ChecksumFileSystem.java:500)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:1195)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:1175)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:1064)
	at org.apache.spark.sql.execution.datasources.CodecStreams$.createOutputStream(CodecStreams.scala:81)
	at org.apache.spark.sql.execution.datasources.CodecStreams$.createOutputStreamWriter(CodecStreams.scala:92)
	at org.apache.spark.sql.execution.datasources.csv.CsvOutputWriter.<init>(CsvOutputWriter.scala:38)
	at org.apache.spark.sql.execution.datasources.csv.CSVFileFormat$$anon$1.newInstance(CSVFileFormat.scala:84)
	at org.apache.spark.sql.execution.datasources.SingleDirectoryDataWriter.newOutputWriter(FileFormatDataWriter.scala:161)
	at org.apache.spark.sql.execution.datasources.SingleDirectoryDataWriter.<init>(FileFormatDataWriter.scala:146)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.executeTask(FileFormatWriter.scala:389)
	at org.apache.spark.sql.execution.datasources.WriteFilesExec.$anonfun$doExecuteWrite$1(WriteFiles.scala:100)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:888)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:888)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:92)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:161)
	at org.apache.spark.scheduler.Task.run(Task.scala:139)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:554)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1529)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:557)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1144)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:642)
	... 1 more

Py4JJavaError: An error occurred while calling o118.csv.
: org.apache.spark.SparkException: Job aborted due to stage failure: Task 0 in stage 10.0 failed 1 times, most recent failure: Lost task 0.0 in stage 10.0 (TID 10) (10.111.140.207 executor driver): java.io.IOException: Mkdirs failed to create file:/data/_temporary/0/_temporary/attempt_202307271153442475555114343851041_0010_m_000000_10 (exists=false, cwd=file:/Users/parvez.mullah/Documents/LearningTechnologies/Big Data Tech/Spark)
	at org.apache.hadoop.fs.ChecksumFileSystem.create(ChecksumFileSystem.java:515)
	at org.apache.hadoop.fs.ChecksumFileSystem.create(ChecksumFileSystem.java:500)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:1195)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:1175)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:1064)
	at org.apache.spark.sql.execution.datasources.CodecStreams$.createOutputStream(CodecStreams.scala:81)
	at org.apache.spark.sql.execution.datasources.CodecStreams$.createOutputStreamWriter(CodecStreams.scala:92)
	at org.apache.spark.sql.execution.datasources.csv.CsvOutputWriter.<init>(CsvOutputWriter.scala:38)
	at org.apache.spark.sql.execution.datasources.csv.CSVFileFormat$$anon$1.newInstance(CSVFileFormat.scala:84)
	at org.apache.spark.sql.execution.datasources.SingleDirectoryDataWriter.newOutputWriter(FileFormatDataWriter.scala:161)
	at org.apache.spark.sql.execution.datasources.SingleDirectoryDataWriter.<init>(FileFormatDataWriter.scala:146)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.executeTask(FileFormatWriter.scala:389)
	at org.apache.spark.sql.execution.datasources.WriteFilesExec.$anonfun$doExecuteWrite$1(WriteFiles.scala:100)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:888)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:888)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:92)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:161)
	at org.apache.spark.scheduler.Task.run(Task.scala:139)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:554)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1529)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:557)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1144)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:642)
	at java.base/java.lang.Thread.run(Thread.java:1623)

Driver stacktrace:
	at org.apache.spark.scheduler.DAGScheduler.failJobAndIndependentStages(DAGScheduler.scala:2785)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2(DAGScheduler.scala:2721)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$abortStage$2$adapted(DAGScheduler.scala:2720)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.abortStage(DAGScheduler.scala:2720)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1(DAGScheduler.scala:1206)
	at org.apache.spark.scheduler.DAGScheduler.$anonfun$handleTaskSetFailed$1$adapted(DAGScheduler.scala:1206)
	at scala.Option.foreach(Option.scala:407)
	at org.apache.spark.scheduler.DAGScheduler.handleTaskSetFailed(DAGScheduler.scala:1206)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.doOnReceive(DAGScheduler.scala:2984)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2923)
	at org.apache.spark.scheduler.DAGSchedulerEventProcessLoop.onReceive(DAGScheduler.scala:2912)
	at org.apache.spark.util.EventLoop$$anon$1.run(EventLoop.scala:49)
	at org.apache.spark.scheduler.DAGScheduler.runJob(DAGScheduler.scala:971)
	at org.apache.spark.SparkContext.runJob(SparkContext.scala:2263)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.$anonfun$executeWrite$4(FileFormatWriter.scala:307)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.writeAndCommit(FileFormatWriter.scala:271)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.executeWrite(FileFormatWriter.scala:304)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.write(FileFormatWriter.scala:190)
	at org.apache.spark.sql.execution.datasources.InsertIntoHadoopFsRelationCommand.run(InsertIntoHadoopFsRelationCommand.scala:190)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.sideEffectResult$lzycompute(commands.scala:113)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.sideEffectResult(commands.scala:111)
	at org.apache.spark.sql.execution.command.DataWritingCommandExec.executeCollect(commands.scala:125)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.$anonfun$applyOrElse$1(QueryExecution.scala:98)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$6(SQLExecution.scala:118)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:195)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:103)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:827)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:65)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:98)
	at org.apache.spark.sql.execution.QueryExecution$$anonfun$eagerlyExecuteCommands$1.applyOrElse(QueryExecution.scala:94)
	at org.apache.spark.sql.catalyst.trees.TreeNode.$anonfun$transformDownWithPruning$1(TreeNode.scala:512)
	at org.apache.spark.sql.catalyst.trees.CurrentOrigin$.withOrigin(TreeNode.scala:104)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDownWithPruning(TreeNode.scala:512)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.org$apache$spark$sql$catalyst$plans$logical$AnalysisHelper$$super$transformDownWithPruning(LogicalPlan.scala:31)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning(AnalysisHelper.scala:267)
	at org.apache.spark.sql.catalyst.plans.logical.AnalysisHelper.transformDownWithPruning$(AnalysisHelper.scala:263)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:31)
	at org.apache.spark.sql.catalyst.plans.logical.LogicalPlan.transformDownWithPruning(LogicalPlan.scala:31)
	at org.apache.spark.sql.catalyst.trees.TreeNode.transformDown(TreeNode.scala:488)
	at org.apache.spark.sql.execution.QueryExecution.eagerlyExecuteCommands(QueryExecution.scala:94)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted$lzycompute(QueryExecution.scala:81)
	at org.apache.spark.sql.execution.QueryExecution.commandExecuted(QueryExecution.scala:79)
	at org.apache.spark.sql.execution.QueryExecution.assertCommandExecuted(QueryExecution.scala:133)
	at org.apache.spark.sql.DataFrameWriter.runCommand(DataFrameWriter.scala:856)
	at org.apache.spark.sql.DataFrameWriter.saveToV1Source(DataFrameWriter.scala:387)
	at org.apache.spark.sql.DataFrameWriter.saveInternal(DataFrameWriter.scala:360)
	at org.apache.spark.sql.DataFrameWriter.save(DataFrameWriter.scala:239)
	at org.apache.spark.sql.DataFrameWriter.csv(DataFrameWriter.scala:847)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:75)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:52)
	at java.base/java.lang.reflect.Method.invoke(Method.java:578)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:374)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:1623)
Caused by: java.io.IOException: Mkdirs failed to create file:/data/_temporary/0/_temporary/attempt_202307271153442475555114343851041_0010_m_000000_10 (exists=false, cwd=file:/Users/parvez.mullah/Documents/LearningTechnologies/Big Data Tech/Spark)
	at org.apache.hadoop.fs.ChecksumFileSystem.create(ChecksumFileSystem.java:515)
	at org.apache.hadoop.fs.ChecksumFileSystem.create(ChecksumFileSystem.java:500)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:1195)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:1175)
	at org.apache.hadoop.fs.FileSystem.create(FileSystem.java:1064)
	at org.apache.spark.sql.execution.datasources.CodecStreams$.createOutputStream(CodecStreams.scala:81)
	at org.apache.spark.sql.execution.datasources.CodecStreams$.createOutputStreamWriter(CodecStreams.scala:92)
	at org.apache.spark.sql.execution.datasources.csv.CsvOutputWriter.<init>(CsvOutputWriter.scala:38)
	at org.apache.spark.sql.execution.datasources.csv.CSVFileFormat$$anon$1.newInstance(CSVFileFormat.scala:84)
	at org.apache.spark.sql.execution.datasources.SingleDirectoryDataWriter.newOutputWriter(FileFormatDataWriter.scala:161)
	at org.apache.spark.sql.execution.datasources.SingleDirectoryDataWriter.<init>(FileFormatDataWriter.scala:146)
	at org.apache.spark.sql.execution.datasources.FileFormatWriter$.executeTask(FileFormatWriter.scala:389)
	at org.apache.spark.sql.execution.datasources.WriteFilesExec.$anonfun$doExecuteWrite$1(WriteFiles.scala:100)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2(RDD.scala:888)
	at org.apache.spark.rdd.RDD.$anonfun$mapPartitionsInternal$2$adapted(RDD.scala:888)
	at org.apache.spark.rdd.MapPartitionsRDD.compute(MapPartitionsRDD.scala:52)
	at org.apache.spark.rdd.RDD.computeOrReadCheckpoint(RDD.scala:364)
	at org.apache.spark.rdd.RDD.iterator(RDD.scala:328)
	at org.apache.spark.scheduler.ResultTask.runTask(ResultTask.scala:92)
	at org.apache.spark.TaskContext.runTaskWithListeners(TaskContext.scala:161)
	at org.apache.spark.scheduler.Task.run(Task.scala:139)
	at org.apache.spark.executor.Executor$TaskRunner.$anonfun$run$3(Executor.scala:554)
	at org.apache.spark.util.Utils$.tryWithSafeFinally(Utils.scala:1529)
	at org.apache.spark.executor.Executor$TaskRunner.run(Executor.scala:557)
	at java.base/java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1144)
	at java.base/java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:642)
	... 1 more

## Read Parquet file into Dataframe using PySpark

In [ ]:
df = spark.read.parquet("data/userdata1.parquet")

df.show()

df.printSchema()

df.count()

## Show in pyspark

In [ ]:
data = [{'id': 1, 'name': 'Maheaaaasasqqddweqsaer'}, {'id': 2, 'name': 'Wasdawdeqweqweqfa'},
       {'id': 3, 'name': 'Maheaaaasasqqddweqsaer'}, {'id': 4, 'name': 'Wasdawdeqweqweqfa'},
       {'id': 5, 'name': 'Maheaaaasasqqddweqsaer'}, {'id': 6, 'name': 'Wasdawdeqweqweqfa'}]
df = spark.createDataFrame(data=data)

df.show(n=2)
df.show(truncate=False, vertical=True)

## withColumn() in PySpark

Transformation, add or remove column

In [13]:
data = [{'id': 1, 'name': 'Maheaaaasasqqddweqsaer'}, {'id': 2, 'name': 'Wasdawdeqweqweqfa'},
       {'id': 3, 'name': 'Maheaaaasasqqddweqsaer'}, {'id': 4, 'name': 'Wasdawdeqweqweqfa'},
       {'id': 5, 'name': 'Maheaaaasasqqddweqsaer'}, {'id': 6, 'name': 'Wasdawdeqweqweqfa'}]
df = spark.createDataFrame(data=data)
df.show()

+---+--------------------+
| id|                name|
+---+--------------------+
|  1|Maheaaaasasqqddwe...|
|  2|   Wasdawdeqweqweqfa|
|  3|Maheaaaasasqqddwe...|
|  4|   Wasdawdeqweqweqfa|
|  5|Maheaaaasasqqddwe...|
|  6|   Wasdawdeqweqweqfa|
+---+--------------------+

In [14]:
from pyspark.sql.functions import col, lit

df.withColumn(colName="id", col=col('id').cast('Float')).show()

df.withColumn(colName="id", col=col('id')+100).show()

+---+--------------------+
| id|                name|
+---+--------------------+
|1.0|Maheaaaasasqqddwe...|
|2.0|   Wasdawdeqweqweqfa|
|3.0|Maheaaaasasqqddwe...|
|4.0|   Wasdawdeqweqweqfa|
|5.0|Maheaaaasasqqddwe...|
|6.0|   Wasdawdeqweqweqfa|
+---+--------------------+

+---+--------------------+
| id|                name|
+---+--------------------+
|101|Maheaaaasasqqddwe...|
|102|   Wasdawdeqweqweqfa|
|103|Maheaaaasasqqddwe...|
|104|   Wasdawdeqweqweqfa|
|105|Maheaaaasasqqddwe...|
|106|   Wasdawdeqweqweqfa|
+---+--------------------+

In [15]:
df.withColumn("new name", lit("New Name")).show()

+---+--------------------+--------+
| id|                name|new name|
+---+--------------------+--------+
|  1|Maheaaaasasqqddwe...|New Name|
|  2|   Wasdawdeqweqweqfa|New Name|
|  3|Maheaaaasasqqddwe...|New Name|
|  4|   Wasdawdeqweqweqfa|New Name|
|  5|Maheaaaasasqqddwe...|New Name|
|  6|   Wasdawdeqweqweqfa|New Name|
+---+--------------------+--------+

In [16]:
df.withColumn("new name", col('name')).show()

+---+--------------------+--------------------+
| id|                name|            new name|
+---+--------------------+--------------------+
|  1|Maheaaaasasqqddwe...|Maheaaaasasqqddwe...|
|  2|   Wasdawdeqweqweqfa|   Wasdawdeqweqweqfa|
|  3|Maheaaaasasqqddwe...|Maheaaaasasqqddwe...|
|  4|   Wasdawdeqweqweqfa|   Wasdawdeqweqweqfa|
|  5|Maheaaaasasqqddwe...|Maheaaaasasqqddwe...|
|  6|   Wasdawdeqweqweqfa|   Wasdawdeqweqweqfa|
+---+--------------------+--------------------+

##  withColumnRenamed() usage

In [17]:
df.withColumnRenamed("name", "new name").show()

+---+--------------------+
| id|            new name|
+---+--------------------+
|  1|Maheaaaasasqqddwe...|
|  2|   Wasdawdeqweqweqfa|
|  3|Maheaaaasasqqddwe...|
|  4|   Wasdawdeqweqweqfa|
|  5|Maheaaaasasqqddwe...|
|  6|   Wasdawdeqweqweqfa|
+---+--------------------+

## StructType() & StructField()

In [18]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType

data = [(1, ('Maheer', 'Shaikh'), 4000), (2, ('Wafa', 'Shaikh'), 3000)]

struct_name = StructType([
    StructField('first_name', StringType()),
    StructField('last_name', StringType())
])

schema = StructType([
    StructField('id', dataType=IntegerType()),
    StructField('name', dataType=struct_name),
    StructField('salary', dataType=IntegerType())
])

df = spark.createDataFrame(data, schema)
df.show()
df.printSchema()

+---+----------------+------+
| id|            name|salary|
+---+----------------+------+
|  1|{Maheer, Shaikh}|  4000|
|  2|  {Wafa, Shaikh}|  3000|
+---+----------------+------+

root
 |-- id: integer (nullable = true)
 |-- name: struct (nullable = true)
 |    |-- first_name: string (nullable = true)
 |    |-- last_name: string (nullable = true)
 |-- salary: integer (nullable = true)

## ArrayType Columns

In [19]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType, ArrayType

data = [('abc', [1,2,3]), ('xyz', [4,5,6])]
schema = ['id', 'nuumbers']

schema = StructType([
    StructField('id', StringType()),
    StructField('numbers', ArrayType(IntegerType()))
])

df = spark.createDataFrame(data, schema)

df.show()
df.printSchema()

+---+---------+
| id|  numbers|
+---+---------+
|abc|[1, 2, 3]|
|xyz|[4, 5, 6]|
+---+---------+

root
 |-- id: string (nullable = true)
 |-- numbers: array (nullable = true)
 |    |-- element: integer (containsNull = true)

In [20]:
df.withColumn('first_number', col('numbers')[0]*100).show()

+---+---------+------------+
| id|  numbers|first_number|
+---+---------+------------+
|abc|[1, 2, 3]|         100|
|xyz|[4, 5, 6]|         400|
+---+---------+------------+

In [21]:
from pyspark.sql.functions import col, array

data = [(1,2), (3,4)]
schema = ['num1', 'num2']

df = spark.createDataFrame(data, schema)

df.withColumn('numbers', array(col('num1'), col('num2'))).show()

+----+----+-------+
|num1|num2|numbers|
+----+----+-------+
|   1|   2| [1, 2]|
|   3|   4| [3, 4]|
+----+----+-------+

## explode(), split(), array() & array_contains() functions

In [22]:
data = [(1, 'Maheer', ['dontnet', 'azure']), (2, 'Wafa', ['java', 'aws'])]

schema = ['id', 'name', 'skills']

df = spark.createDataFrame(data, schema)
df.show()

+---+------+----------------+
| id|  name|          skills|
+---+------+----------------+
|  1|Maheer|[dontnet, azure]|
|  2|  Wafa|     [java, aws]|
+---+------+----------------+

In [23]:
from pyspark.sql.functions import explode, col

df1 = df.withColumn('skills', explode(col('skills')))
df1.show()

+---+------+-------+
| id|  name| skills|
+---+------+-------+
|  1|Maheer|dontnet|
|  1|Maheer|  azure|
|  2|  Wafa|   java|
|  2|  Wafa|    aws|
+---+------+-------+

In [24]:
data = [(1, 'Maheer', 'dontnet, azure'), (2, 'Wafa', 'java,aws')]

schema = ['id', 'name', 'skills']

df = spark.createDataFrame(data, schema)
df.show()

from pyspark.sql.functions import explode, col, split

df1 = df.withColumn('skills', split(col('skills'), pattern=','))
df1.show()

+---+------+--------------+
| id|  name|        skills|
+---+------+--------------+
|  1|Maheer|dontnet, azure|
|  2|  Wafa|      java,aws|
+---+------+--------------+

+---+------+-----------------+
| id|  name|           skills|
+---+------+-----------------+
|  1|Maheer|[dontnet,  azure]|
|  2|  Wafa|      [java, aws]|
+---+------+-----------------+

In [25]:
from pyspark.sql.functions  import array, col, array_contains

df1.withColumn('has_java_skills', array_contains(col('skills'), 'java')).show()

+---+------+-----------------+---------------+
| id|  name|           skills|has_java_skills|
+---+------+-----------------+---------------+
|  1|Maheer|[dontnet,  azure]|          false|
|  2|  Wafa|      [java, aws]|           true|
+---+------+-----------------+---------------+

## MapType Column in PySpark

In [26]:
from pyspark.sql.types import StructType, StructField, StringType, MapType
data = [('maheer', {"hair": "black", "eye": "brawn"}), ('waha', {"hair": "black", "eye": "blue"})]

schema = StructType([
    StructField('name', StringType()),
    StructField('properties', MapType(StringType(), StringType()))
])
df = spark.createDataFrame(data, schema)

display(df)
df.printSchema()

DataFrame[name: string, properties: map<string,string>]

root
 |-- name: string (nullable = true)
 |-- properties: map (nullable = true)
 |    |-- key: string
 |    |-- value: string (valueContainsNull = true)

In [27]:
df.withColumn('hair', df.properties['hair']).show(truncate=False)

+------+-----------------------------+-----+
|name  |properties                   |hair |
+------+-----------------------------+-----+
|maheer|{eye -> brawn, hair -> black}|black|
|waha  |{eye -> blue, hair -> black} |black|
+------+-----------------------------+-----+

## map_keys(), map_values() & explode()

In [28]:
df.select('name', 'properties', explode(df.properties)).show(truncate=False)

+------+-----------------------------+----+-----+
|name  |properties                   |key |value|
+------+-----------------------------+----+-----+
|maheer|{eye -> brawn, hair -> black}|eye |brawn|
|maheer|{eye -> brawn, hair -> black}|hair|black|
|waha  |{eye -> blue, hair -> black} |eye |blue |
|waha  |{eye -> blue, hair -> black} |hair|black|
+------+-----------------------------+----+-----+

In [29]:
from pyspark.sql.functions import map_keys

df.withColumn('keys', map_keys(df.properties)).show(truncate=False)

+------+-----------------------------+-----------+
|name  |properties                   |keys       |
+------+-----------------------------+-----------+
|maheer|{eye -> brawn, hair -> black}|[eye, hair]|
|waha  |{eye -> blue, hair -> black} |[eye, hair]|
+------+-----------------------------+-----------+

In [30]:
from pyspark.sql.functions import map_values
df.withColumn('keys', map_values(df.properties)).show(truncate=False)

+------+-----------------------------+--------------+
|name  |properties                   |keys          |
+------+-----------------------------+--------------+
|maheer|{eye -> brawn, hair -> black}|[brawn, black]|
|waha  |{eye -> blue, hair -> black} |[blue, black] |
+------+-----------------------------+--------------+

## Row() class in PySpark

In [33]:
from pyspark.sql import Row

row1 = Row(name='Maheer', salary=4000)
row2 = Row(name='Wafa', salary=8000)


df = spark.createDataFrame(data)

df.show()
df.printSchema()

+------+--------------------+
|    _1|                  _2|
+------+--------------------+
|maheer|{eye -> brawn, ha...|
|  waha|{eye -> blue, hai...|
+------+--------------------+

root
 |-- _1: string (nullable = true)
 |-- _2: map (nullable = true)
 |    |-- key: string
 |    |-- value: string (valueContainsNull = true)

In [35]:
data = [row1, row2]

df = spark.createDataFrame(data)
df.show()

+------+------+
|  name|salary|
+------+------+
|Maheer|  4000|
|  Wafa|  8000|
+------+------+

In [37]:
Person = Row('name', 'age')

person1 = Person("Parvez", 27)
person2 = Person("Parry", 26)

spark.createDataFrame([person1, person2]).show()

+------+---+
|  name|age|
+------+---+
|Parvez| 27|
| Parry| 26|
+------+---+

## Column class in PySpark

In [43]:
from pyspark.sql.functions import lit, col

col1 = lit('abcd')
type(col)

data = [("Maheer", 'male', 2000), ("wafa", 23, 23444)]

schema = ['name', 'gender', 'salary']
df = spark.createDataFrame(data, schema)

df.show()
df.printSchema()

+------+------+------+
|  name|gender|salary|
+------+------+------+
|Maheer|  male|  2000|
|  wafa|    23| 23444|
+------+------+------+

root
 |-- name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

In [41]:
df.withColumn("new_Col", lit('new_col_val')).show()

+------+------+------+-----------+
|  name|gender|salary|    new_Col|
+------+------+------+-----------+
|Maheer|  male|  2000|new_col_val|
|  wafa|    23| 23444|new_col_val|
+------+------+------+-----------+

In [45]:
df.select(df.name).show()

df.select(df["name"]).show()

df.select(col('name')).show()

+------+
|  name|
+------+
|Maheer|
|  wafa|
+------+

+------+
|  name|
+------+
|Maheer|
|  wafa|
+------+

+------+
|  name|
+------+
|Maheer|
|  wafa|
+------+

## when() & otherwise() functions in PySpark

In [46]:
data = [(1, 'maheer', 'M', 2000), (2, 'parry', 'M', 40000),(2, 'abcd','F', 3000)]

schema = ['id', 'name', 'gender', 'salary']

df = spark.createDataFrame(data, schema)
df.show()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1|maheer|     M|  2000|
|  2| parry|     M| 40000|
|  2|  abcd|     F|  3000|
+---+------+------+------+

In [55]:
from pyspark.sql.functions import when

df.select(df.id, df.name,
          when(df.gender=='M', 'Male')\
          .when(df.gender=='F', 'Female')\
.otherwise('Other')\
.alias('gender'))\
.show()

+---+------+------+
| id|  name|gender|
+---+------+------+
|  1|maheer|  Male|
|  2| parry|  Male|
|  2|  abcd|Female|
+---+------+------+

## alias(), asc(), desc(), cast() & like() functions on Columns of dataframe in PySpark

In [59]:
data = [(1, 'maheer', 'M', 2000), (2, 'parry', 'M', 40000),(2, 'abcd','F', 3000)]

schema = ['id', 'name', 'gender', 'salary']

df = spark.createDataFrame(data, schema)

df.select(df.id.alias('emp_id'), df.name).show()

+------+------+
|emp_id|  name|
+------+------+
|     1|maheer|
|     2| parry|
|     2|  abcd|
+------+------+

In [60]:
df.sort(df.name.asc()).show()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  2|  abcd|     F|  3000|
|  1|maheer|     M|  2000|
|  2| parry|     M| 40000|
+---+------+------+------+

In [61]:
df.sort(df.name.desc()).show()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  2| parry|     M| 40000|
|  1|maheer|     M|  2000|
|  2|  abcd|     F|  3000|
+---+------+------+------+

In [62]:
df.printSchema()

root
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

In [63]:
df.select(df.id.cast('int')).printSchema()

root
 |-- id: integer (nullable = true)

In [65]:
df.filter(df.name.like('%r%')).show()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1|maheer|     M|  2000|
|  2| parry|     M| 40000|
+---+------+------+------+

## filter() & where() in PySpark

In [66]:
data = [(1, 'maheer', 'M', 2000), (2, 'parry', 'M', 40000),(2, 'abcd','F', 3000)]

schema = ['id', 'name', 'gender', 'salary']

df = spark.createDataFrame(data, schema)
df.show()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1|maheer|     M|  2000|
|  2| parry|     M| 40000|
|  2|  abcd|     F|  3000|
+---+------+------+------+

In [67]:
df.filter(df.gender=='M').show()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1|maheer|     M|  2000|
|  2| parry|     M| 40000|
+---+------+------+------+

In [69]:
df.where(df.gender=='F').show()

+---+----+------+------+
| id|name|gender|salary|
+---+----+------+------+
|  2|abcd|     F|  3000|
+---+----+------+------+

In [71]:
df.filter((df.gender=='M') & (df.salary>2000)).show()

+---+-----+------+------+
| id| name|gender|salary|
+---+-----+------+------+
|  2|parry|     M| 40000|
+---+-----+------+------+

In [72]:
df.where((df.gender=='M') & (df.salary>2000)).show()

+---+-----+------+------+
| id| name|gender|salary|
+---+-----+------+------+
|  2|parry|     M| 40000|
+---+-----+------+------+

## distinct() & dropDuplicates() in PySpark

In [77]:
data = [(1, 'maheer', 'M', 2000), (2, 'parry', 'M', 40000),(3, 'abcd','F', 3000),
       (1, 'maheer', 'M', 2000), (2, 'parry', 'M', 40000),(3, 'abcd','F', 3000)]

schema = ['id', 'name', 'gender', 'salary']

df = spark.createDataFrame(data, schema)
df.show()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1|maheer|     M|  2000|
|  2| parry|     M| 40000|
|  3|  abcd|     F|  3000|
|  1|maheer|     M|  2000|
|  2| parry|     M| 40000|
|  3|  abcd|     F|  3000|
+---+------+------+------+

In [80]:
df.distinct().show()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  2| parry|     M| 40000|
|  3|  abcd|     F|  3000|
|  1|maheer|     M|  2000|
+---+------+------+------+

In [81]:
df.dropDuplicates(["gender"]).show()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  3|  abcd|     F|  3000|
|  1|maheer|     M|  2000|
+---+------+------+------+

# orderBy() & sort()

In [84]:
data = [(1, 'maheer', 'M', 2000), (2, 'parry', 'M', 40000),(3, 'abcd','F', 3000),
       (1, 'maheer', 'M', 2000), (2, 'parry', 'M', 40000),(3, 'abcd','F', 3000)]

schema = ['id', 'name', 'gender', 'salary']

df = spark.createDataFrame(data, schema)

df.sort(df.id.desc()).show()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  3|  abcd|     F|  3000|
|  3|  abcd|     F|  3000|
|  2| parry|     M| 40000|
|  2| parry|     M| 40000|
|  1|maheer|     M|  2000|
|  1|maheer|     M|  2000|
+---+------+------+------+

In [85]:
df.sort(df.id.desc()).show()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  3|  abcd|     F|  3000|
|  3|  abcd|     F|  3000|
|  2| parry|     M| 40000|
|  2| parry|     M| 40000|
|  1|maheer|     M|  2000|
|  1|maheer|     M|  2000|
+---+------+------+------+

In [86]:
df.orderBy(df.id.desc()).show()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  3|  abcd|     F|  3000|
|  3|  abcd|     F|  3000|
|  2| parry|     M| 40000|
|  2| parry|     M| 40000|
|  1|maheer|     M|  2000|
|  1|maheer|     M|  2000|
+---+------+------+------+

## union() & unionAll() in PySpark

In [89]:
data1 = [(1, 'maheer', 'M', 2000), (2, 'parry', 'M', 40000),(3, 'abcd','F', 3000)
       ]

data2 = [(1, 'maheer', 'M', 2000), (2, 'parry', 'M', 40000),(4, 'xyz','F', 3000)]

schema = ['id', 'name', 'gender', 'salary']

df1 = spark.createDataFrame(data1, schema)
df2 = spark.createDataFrame(data2, schema)

In [90]:
df1.union(df2).show()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1|maheer|     M|  2000|
|  2| parry|     M| 40000|
|  3|  abcd|     F|  3000|
|  1|maheer|     M|  2000|
|  2| parry|     M| 40000|
|  4|   xyz|     F|  3000|
+---+------+------+------+

In [91]:
df1.unionAll(df2).show()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1|maheer|     M|  2000|
|  2| parry|     M| 40000|
|  3|  abcd|     F|  3000|
|  1|maheer|     M|  2000|
|  2| parry|     M| 40000|
|  4|   xyz|     F|  3000|
+---+------+------+------+

In [92]:
df1.union(df2).distinct().show()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  2| parry|     M| 40000|
|  3|  abcd|     F|  3000|
|  1|maheer|     M|  2000|
|  4|   xyz|     F|  3000|
+---+------+------+------+

## sample() function in PySpark

In [102]:
df = spark.range(start=1, end=101)

df.sample(fraction=0.1, seed=234).show()

+---+
| id|
+---+
|  3|
| 13|
| 14|
| 35|
| 37|
| 51|
| 59|
| 71|
| 78|
+---+

## collect() function

In [16]:
data = [(1, 'maheer', 'M', 2000), (2, 'parry', 'M', 40000),(3, 'abcd','F', 3000),
       (1, 'maheer', 'M', 2000), (2, 'parry', 'M', 40000),(3, 'abcd','F', 3000)]

schema = ['id', 'name', 'gender', 'salary']

df = spark.createDataFrame(data, schema)

df.show()

list_rows = df.collect()
print(list_rows)

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1|maheer|     M|  2000|
|  2| parry|     M| 40000|
|  3|  abcd|     F|  3000|
|  1|maheer|     M|  2000|
|  2| parry|     M| 40000|
|  3|  abcd|     F|  3000|
+---+------+------+------+

[Row(id=1, name='maheer', gender='M', salary=2000), Row(id=2, name='parry', gender='M', salary=40000), Row(id=3, name='abcd', gender='F', salary=3000), Row(id=1, name='maheer', gender='M', salary=2000), Row(id=2, name='parry', gender='M', salary=40000), Row(id=3, name='abcd', gender='F', salary=3000)]

## DataFrame.transform() function in PySpark

In [17]:
from pyspark.sql.functions import upper
data = [(1, 'maheer', 'M', 2000), (2, 'parry', 'M', 40000),(3, 'abcd','F', 3000),
       (1, 'maheer', 'M', 2000), (2, 'parry', 'M', 40000),(3, 'abcd','F', 3000)]

schema = ['id', 'name', 'gender', 'salary']

df = spark.createDataFrame(data, schema)
df.withColumn('upper_name', upper(df.name)).show()

+---+------+------+------+----------+
| id|  name|gender|salary|upper_name|
+---+------+------+------+----------+
|  1|maheer|     M|  2000|    MAHEER|
|  2| parry|     M| 40000|     PARRY|
|  3|  abcd|     F|  3000|      ABCD|
|  1|maheer|     M|  2000|    MAHEER|
|  2| parry|     M| 40000|     PARRY|
|  3|  abcd|     F|  3000|      ABCD|
+---+------+------+------+----------+

In [19]:
def convert_to_upper(df):
    return df.withColumn('name', upper(df.name))

def double_the_salary(df):
    return df.withColumn('salary', df.salary*2)

df.transform(convert_to_upper).transform(double_the_salary).show()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1|MAHEER|     M|  4000|
|  2| PARRY|     M| 80000|
|  3|  ABCD|     F|  6000|
|  1|MAHEER|     M|  4000|
|  2| PARRY|     M| 80000|
|  3|  ABCD|     F|  6000|
+---+------+------+------+

## UDF(user defined function)

In [24]:
data = [(1, 'maheer', 'M', 2000, 100), (2, 'parry', 'M', 40000, 1000),(2, 'abcd','F', 3000, 200)]

schema = ['id', 'name', 'gender', 'salary', 'bonus']

df = spark.createDataFrame(data, schema)
df.show()

def total_pay(s, b):
    return s+b

from pyspark.sql.functions import udf
from pyspark.sql.types import IntegerType

total_payment = udf(lambda s, b : total_pay(s, b), IntegerType())

new_df = df.withColumn('total_pay', total_payment(df.salary, df.bonus))
new_df.show()

+---+------+------+------+-----+
| id|  name|gender|salary|bonus|
+---+------+------+------+-----+
|  1|maheer|     M|  2000|  100|
|  2| parry|     M| 40000| 1000|
|  2|  abcd|     F|  3000|  200|
+---+------+------+------+-----+

+---+------+------+------+-----+---------+
| id|  name|gender|salary|bonus|total_pay|
+---+------+------+------+-----+---------+
|  1|maheer|     M|  2000|  100|     2100|
|  2| parry|     M| 40000| 1000|    41000|
|  2|  abcd|     F|  3000|  200|     3200|
+---+------+------+------+-----+---------+

## RDD (Resilient Distributed Dataset)

It is the collection of the objects similar to list in python. its immutable and in memoery processing

In [26]:
data = [(1, 'maheer'), (2, 'parry'),(2, 'abcd')]

rdd = spark.sparkContext.parallelize(data)

rdd.collectAsMap()

{1: 'maheer', 2: 'abcd'}

In [28]:
df = rdd.toDF(schema=["id", "name"])
df.show()

+---+------+
| id|  name|
+---+------+
|  1|maheer|
|  2| parry|
|  2|  abcd|
+---+------+

In [32]:
spark.createDataFrame(rdd, schema=["id", "name"]).show()

+---+------+
| id|  name|
+---+------+
|  1|maheer|
|  2| parry|
|  2|  abcd|
+---+------+

## map() transformation in PySpark

In [40]:
data = [(1, 'maheer'), (2, 'parry'),(2, 'abcd')]

rdd = spark.sparkContext.parallelize(data)

new_rdd = rdd.map(lambda x: x + (f"{x[0]} {x[1]}",))

new_rdd.collect()

[(1, 'maheer', '1 maheer'), (2, 'parry', '2 parry'), (2, 'abcd', '2 abcd')]

## flatMap() transformation in PySpark

In [45]:
data = ["Parvez Mullah", "Parry Rocks"]

rdd = spark.sparkContext.parallelize(data)

for item in rdd.collect():
    print(item)

Parvez Mullah
Parry Rocks

In [46]:
rdd1 = rdd.map(lambda x: x.split(' '))

for item in rdd1.collect():
    print(item)

['Parvez', 'Mullah']
['Parry', 'Rocks']

In [47]:
rdd2 = rdd.flatMap(lambda x: x.split(" "))
for item in rdd2.collect():
    print(item)

Parvez
Mullah
Parry
Rocks

## partitionBy function in PySpark

In [51]:
data = [(1, 'maheer', 'M', 2000, "HR"), (2, 'parry', 'M', 40000, "IT"),(2, 'abcd','F', 3000, "Product")]

schema = ['id', 'name', 'gender', 'salary', 'department']

df = spark.createDataFrame(data, schema)

df.write.parquet("data/sample_data", partitionBy="department")

In [53]:
spark.read.parquet('data/sample_data/department=HR/').show()

+---+------+------+------+
| id|  name|gender|salary|
+---+------+------+------+
|  1|maheer|     M|  2000|
+---+------+------+------+

## approx_count_distinct(), avg(), collect_list(), collect_set(), countDistinct(), count()

In [56]:
data = [(1, 'maheer', 'M', 2000, "HR"), (2, 'parry', 'M', 40000, "IT"),(2, 'abcd','F', 3000, "Product"),
       (1, 'maheer', 'M', 2000, "HR"), (2, 'parry', 'M', 40000, "IT"),(2, 'abcd','F', 3000, "Product")]

schema = ['id', 'name', 'gender', 'salary', 'department']

df = spark.createDataFrame(data, schema)
df.show()

+---+------+------+------+----------+
| id|  name|gender|salary|department|
+---+------+------+------+----------+
|  1|maheer|     M|  2000|        HR|
|  2| parry|     M| 40000|        IT|
|  2|  abcd|     F|  3000|   Product|
|  1|maheer|     M|  2000|        HR|
|  2| parry|     M| 40000|        IT|
|  2|  abcd|     F|  3000|   Product|
+---+------+------+------+----------+

In [58]:
from pyspark.sql.functions import approx_count_distinct, avg
df.select(approx_count_distinct('salary')).show()
df.select(avg('salary')).show()

+-----------------------------+
|approx_count_distinct(salary)|
+-----------------------------+
|                            3|
+-----------------------------+

+-----------+
|avg(salary)|
+-----------+
|    15000.0|
+-----------+

In [61]:
from pyspark.sql.functions import collect_list, collect_set
df.select(collect_list('salary')).show(truncate=False)
df.select(collect_set('salary')).show(truncate=False)

+--------------------------------------+
|collect_list(salary)                  |
+--------------------------------------+
|[2000, 40000, 3000, 2000, 40000, 3000]|
+--------------------------------------+

+-------------------+
|collect_set(salary)|
+-------------------+
|[40000, 3000, 2000]|
+-------------------+

In [64]:
from pyspark.sql.functions import count_distinct, countDistinct
df.select(count_distinct('salary')).show()
df.select(countDistinct('salary')).show()

+----------------------+
|count(DISTINCT salary)|
+----------------------+
|                     3|
+----------------------+

+----------------------+
|count(DISTINCT salary)|
+----------------------+
|                     3|
+----------------------+

## row_number(), rank(), dense_rank() functions in PySpark

In [75]:
data = [(1, 'maheer', 'M', 2000, "HR"), (2, 'parry', 'M', 40000, "IT"),(3, 'abcd','F', 3000, "Product"),
       (4, 'maheer', 'M', 4000, "HR"), (5, 'parry', 'M', 60000, "Finance"),(6, 'abcd','F', 3000, "Product")]*2

schema = ['id', 'name', 'gender', 'salary', 'department']

df = spark.createDataFrame(data, schema)
df.show()

+---+------+------+------+----------+
| id|  name|gender|salary|department|
+---+------+------+------+----------+
|  1|maheer|     M|  2000|        HR|
|  2| parry|     M| 40000|        IT|
|  3|  abcd|     F|  3000|   Product|
|  4|maheer|     M|  4000|        HR|
|  5| parry|     M| 60000|   Finance|
|  6|  abcd|     F|  3000|   Product|
|  1|maheer|     M|  2000|        HR|
|  2| parry|     M| 40000|        IT|
|  3|  abcd|     F|  3000|   Product|
|  4|maheer|     M|  4000|        HR|
|  5| parry|     M| 60000|   Finance|
|  6|  abcd|     F|  3000|   Product|
+---+------+------+------+----------+

In [76]:
from pyspark.sql.functions import row_number, rank, dense_rank
from pyspark.sql.window import Window

window = Window.partitionBy("department").orderBy('salary')
df.withColumn('row_number', row_number().over(window))\
.withColumn('densed_rank', dense_rank().over(window)) \
.show()

+---+------+------+------+----------+----------+-----------+
| id|  name|gender|salary|department|row_number|densed_rank|
+---+------+------+------+----------+----------+-----------+
|  5| parry|     M| 60000|   Finance|         1|          1|
|  5| parry|     M| 60000|   Finance|         2|          1|
|  1|maheer|     M|  2000|        HR|         1|          1|
|  1|maheer|     M|  2000|        HR|         2|          1|
|  4|maheer|     M|  4000|        HR|         3|          2|
|  4|maheer|     M|  4000|        HR|         4|          2|
|  2| parry|     M| 40000|        IT|         1|          1|
|  2| parry|     M| 40000|        IT|         2|          1|
|  3|  abcd|     F|  3000|   Product|         1|          1|
|  6|  abcd|     F|  3000|   Product|         2|          1|
|  3|  abcd|     F|  3000|   Product|         3|          1|
|  6|  abcd|     F|  3000|   Product|         4|          1|
+---+------+------+------+----------+----------+-----------+