In [12]:
pip install pyspark

Requirement already satisfied: pyspark in /opt/homebrew/anaconda3/envs/pyspark/lib/python3.10/site-packages (3.4.1)
Requirement already satisfied: py4j==0.10.9.7 in /opt/homebrew/anaconda3/envs/pyspark/lib/python3.10/site-packages (from pyspark) (0.10.9.7)
Note: you may need to restart the kernel to use updated packages.

In [13]:
pip install pandas

Collecting pandas
  Downloading pandas-2.0.3-cp310-cp310-macosx_11_0_arm64.whl (10.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 10.8/10.8 MB 9.5 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/homebrew/anaconda3/envs/pyspark/lib/python3.10/site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2023.3-py2.py3-none-any.whl (502 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 502.3/502.3 kB 20.6 MB/s eta 0:00:00
Collecting tzdata>=2022.1 (from pandas)
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 341.8/341.8 kB 21.4 MB/s eta 0:00:00
Collecting numpy>=1.21.0 (from pandas)
  Downloading numpy-1.25.1-cp310-cp310-macosx_11_0_arm64.whl (14.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 14.0/14.0 MB 23.5 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: six>=1.5 in /opt/homebrew/anaconda3/envs/pyspark/lib/python3.10/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-1.25.1 pandas-2.0.3 pytz-2023.3 tzdata-2023.3
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pyspark

In [14]:
import pandas as pd

In [15]:
pd.read_csv("test1.csv")

     Name  Age
0  Parvez   27
1    Atif   18
2     Raj   27

In [16]:
from pyspark.sql import SparkSession

In [23]:
spark = SparkSession.builder.appName("Practice").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/07/09 17:16:07 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [24]:
spark

In [33]:
df_pyspark = spark.read.option('header', 'true').csv('test1.csv')

In [34]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [36]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: string (nullable = true)

#In session w ill cover the following
1. PySpark
2. Reading the dataset
3. checking the datatypes of the column(scheme)
4. selecting columns and indexing
5. check describe option similar to pandas
6. adding columns
7. dropping columns

In [41]:
from pyspark.sql import SparkSession

In [42]:
spark = SparkSession.builder.appName("DataFramePractice").getOrCreate()

23/07/09 17:25:56 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [43]:
spark

In [61]:
#Read dataset
df_pyspark = spark.read.option('header', 'true').csv("test1.csv", inferSchema=True)

In [62]:
#check the schema
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- Experience: double (nullable = true)

In [83]:
df_pyspark = spark.read.csv('test1.csv', header=True, inferSchema=True)

In [84]:
df_pyspark

DataFrame[Name: string, Age: double, Experience: double]

In [85]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [86]:
df_pyspark.columns

['Name', 'Age', 'Experience']

In [87]:
df_pyspark.head(2)

[Row(Name='Parvez', Age=27.0, Experience=4.0),
 Row(Name='Atif', Age=18.0, Experience=0.0)]

In [88]:
df_pyspark.show()

+------+----+----------+
|  Name| Age|Experience|
+------+----+----------+
|Parvez|27.0|       4.0|
|  Atif|18.0|       0.0|
|   Raj|27.0|       4.0|
+------+----+----------+

In [89]:
df_pyspark.select(['Name', 'Experience']).show()

+------+----------+
|  Name|Experience|
+------+----------+
|Parvez|       4.0|
|  Atif|       0.0|
|   Raj|       4.0|
+------+----------+

In [90]:
df_pyspark.dtypes

[('Name', 'string'), ('Age', 'double'), ('Experience', 'double')]

In [91]:
df_pyspark.describe().show()

+-------+----+-----------------+------------------+
|summary|Name|              Age|        Experience|
+-------+----+-----------------+------------------+
|  count|   3|                3|                 3|
|   mean|null|             24.0|2.6666666666666665|
| stddev|null|5.196152422706632|2.3094010767585034|
|    min|Atif|             18.0|               0.0|
|    max| Raj|             27.0|               4.0|
+-------+----+-----------------+------------------+

In [95]:
#add columns in df
df_pyspark = df_pyspark.withColumn('Experience After 2 Years', df_pyspark['Experience']+2)

In [96]:
df_pyspark.show()

+------+----+----------+------------------------+
|  Name| Age|Experience|Experience After 2 Years|
+------+----+----------+------------------------+
|Parvez|27.0|       4.0|                     6.0|
|  Atif|18.0|       0.0|                     2.0|
|   Raj|27.0|       4.0|                     6.0|
+------+----+----------+------------------------+

In [98]:
df_pyspark = df_pyspark.drop('Experience After 2 Years')

In [99]:
df_pyspark.show()

+------+----+----------+
|  Name| Age|Experience|
+------+----+----------+
|Parvez|27.0|       4.0|
|  Atif|18.0|       0.0|
|   Raj|27.0|       4.0|
+------+----+----------+

Pyspark handling missing values
1. Dropping columns
2. Dropping rows
3. variour parameter in dropping functionalities
4. handling missing values by mean, median and mode.